<div class="columns is-multiline is-mobile">

    <div class="mt1 column is-half-desktop">

        {% if page.featured_image %}
            <figure class="image is-square">
                <a href="{% include imgpath.html src=page.featured_image max-w=1280 %}" class="galleryphoto" data-lightbox="gallery" data-title="{{ page.name }} - {{ page.featured_image_title }}">
                    {% include img.html src=page.featured_image width=400 height=400 fit=crop alt=page.name id="featured" class="" %}
                </a>
            </figure>
            
        {% endif %}
        
        <section class="columns">

            {% for thisimage in page.images %}
      
                <div class="column">
      
                    <figure class="image is-square">
                        <a href="{% include imgpath.html src=thisimage.image_path max-w=1280 %}" class="galleryphoto" data-title="{{ thisimage.image_title }} - {{ thisimage.image_description }}">   
                            {% if forloop.first %}
                                {% include img.html src=thisimage.image_path width=100 height=100 fit=crop alt=thisimage.image_title class="thumbnail active" %}
                            {% else %}
                                {% include img.html src=thisimage.image_path width=100 height=100 fit=crop alt=thisimage.image_title class="thumbnail" %}
                            {% endif %}
                        </a>
                    </figure>
      
                </div>
      
            {% endfor %}
    
          </section>
    </div>

    <div class="product__information column is-half-desktop">
        {% assign name = page.name %}
       <p class="product__description">{{ page.content }}</p>

       <!-- include button -->
       {% include product-definition.html %}

    </div>

</div>