<div class="columns is-multiline">

    <div class="product__information column is-one-third-tablet">


        <header>
            <h1 class="is-size-3">{{ page.name }}</h1>
        </header>
      
       <p class="product__description">{{ page.content }}</p>

       {% if page.price and page.price != 0 %}

            {% include product-definition.html %}

       {% endif %}

    </div>

    <div class="mt1 column is-two-thirds-tablet">

        {% if page.featured_image %}
            <div class="block mx-5 p-5">
                
                <figure class="zoom" id="zoom" style="background-image: url( {{ page.featured_image }} )">

                    {% include img.html src=page.featured_image width=400 height=400 fit=crop id="featured" alt=page.name %}
                
                </figure>
              
            </div>
        {% endif %}
        
        <section class="columns">

            {% for thisimage in page.images %}
      
                <div class="column">
      
                    <figure class="image is-128x128">
                           
                        {% if forloop.first %}
                            {% include img.html src=thisimage.image_path fit=crop alt=thisimage.image_title class="thumbnail active" %}
                        {% else %}
                            {% include img.html src=thisimage.image_path fit=crop alt=thisimage.image_title class="thumbnail" %}
                        {% endif %}
                        
                    </figure>
      
                </div>
      
            {% endfor %}
    
          </section>
    </div>

</div>